In [22]:
import pandas as pd
import os

In [23]:
# Files to load
school_path_load = os.path.join("Resources","schools_complete.csv")
student_path_load = os.path.join("Resources","students_complete.csv")

In [24]:
sc_df = pd.read_csv(school_path_load)
st_df = pd.read_csv(student_path_load)

In [25]:
sc_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [26]:
st_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [27]:
sc_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [28]:
st_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [29]:
prefixes_suffixes= {'Dr.','Mr.','Mrs.','Miss','MD',"DDS","DVM","Ph.D"}
for word in prefixes_suffixes:
    st_df['student_name'] = st_df['student_name'].str.replace(word,"")

/Users/lindaperez/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
st_df['student_name']

0           Paul Bradley
1           Victor Smith
2        Kevin Rodriguez
3          Richard Scott
4             Bonnie Ray
              ...
39165       Donna Howard
39166          Dawn Bell
39167     Rebecca Tanner
39168       Desiree Kidd
39169    Carolyn Jackson
Name: student_name, Length: 39170, dtype: object